{{!-- heading fonts here --}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
{{!-- normal text font below --}}
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Otomanopee+One&display=swap" rel="stylesheet">
{{!-- css stylesheets --}}
<link rel="stylesheet" href="/master-styles.css">
<link rel="stylesheet" href="/custom-styles.css">

<h1>Finicky Feline's Fancy Creations</h1>
<h2>Build your own pizza</h2>

<form method="POST" action="/customConfirmation">
    <label class="size" for="sizeInput">Size:</label>
    <select name="sizeInput" id="sizeInput" placeholder="Choose Size">
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
    </select>
    <h3>Choose your toppings:</h3>
    <div class="toppingsContainer">
        {{#each topping}}
            <div class="check-and-label">
                <input type="checkbox" id="{{this}}" name="toppings" value="{{this}}">
                <label for={{this}}>{{this}}</label>
            </div>    
        {{/each}}
    </div>
    <label class="instructions" for="instructions">Special Instructions:</label><br>
    <textarea id="instructions" name="instructions" rows="10" cols="33" placeholder="Cough up special instructions here."></textarea><br>
    <input type="checkbox" name="gluten" id="gluten">
    <label for="gluten">Gluten Free ($2.00)</label>
    <button type="submit">Place Order</button>
</form>



<a href="/"><div class="specialty-card">Home</div></a>
<img src="/cat-thinking.png" alt="cat thinking">

<footer>Made with indifference. For cats, by cats.</footer>