<link rel="stylesheet" href="/styles.css">
<h1>Chonky Cats Pizzaria</h1>

<h2>Special Pizzas for Special Cats:</h2>

{{!-- <nav>
    <ul>
        <li>
            <a href="/specialtyPizzas?id={{this.id}}">Carnivore Carbonara</a>
        </li>
        <li>
            <a href="/specialtyPizzas/2">Grass Gremlin Gourmet</a>
        </li>
        <li>
            <a href="/specialtyPizzas/3">Floppy Fish Delight</a>
        </li>
    </ul>
</nav> --}}
<ul>
    {{#each specialtyPizzas}}
        <li>
            <a href="/specialtyPizzas?name={{this.name}}">{{this.name}}</a>
        </li>
    {{/each}}
</ul>

<h3>Finicky Feline's Fancy Creations:</h3>
<a href="/custom" class="customizeButton">Build Your Own</a>


<h3>Headboops or Carpet Pukes:</h3>
<a href="/review">Leave your review here</a><br>

<img src="#" alt="pizza image">