<link rel="stylesheet" href="/styles.css">
<h1>Chonky Cats Pizzaria</h1>

<h2>Special Pizzas for Special Cats:</h2>

<nav>
    <ul>
        <li>
            <a href="/specialtyPizzas">Carnivore Carbonara</a>
        </li>
        <li>
            <a href="/specialtyPizzas">Grass Gremlin Gourmet</a>
        </li>
        <li>
            <a href="/specialtyPizzas">Floppy Fish Delight</a>
        </li>
    </ul>
</nav>

<h3>Finicky Feline's Fancy Creations:</h3>
<a href="/customize" class="customizeButton">Build Your Own</a>


<h3>Headboops or Carpet Pukes</h3>
<a href="/review">Leave your review here</a><br>

<img src="#" alt="pizza image">