<link rel="stylesheet" href="/master-styles.css">
<h1>Headboops or Carpet Pukes</h1>

{{!-- create review form below --}}
<form method="POST" action="/reviewConfirmation">
<h3>Leave your verbal droppings here:</h3>
<label for="name">Name:</label>
<input type="text" name="name" id="name" placeholder="Your name here, please."><br>

<label for="comments">Comments, Questions, Concerns, Complaints:</label><br>
<textarea id="comments" name="comments" rows="10" cols="33" placeholder="Hack up a comment here."></textarea>

<p>Rating:</p>
<label for="headboop">Headboop-</label>
<input type="radio" name="rating" id="headboop" value="Headboop">

<label for="creepyStare">Creepy Stare-</label>
<input type="radio" name="rating" id="creepyStare" value="CreepyStare">

<label for="tilePuke">Tile Puke-</label>
<input type="radio" name="rating" id="tilePuke" value="TilePuke">

<label for="carpetPuke">Carpet Puke-</label>
<input type="radio" name="rating" id="carpetPuke" value="CarpetPuke">

<label for="furnitureScratching">Furniture Scratching-</label>
<input type="radio" name="rating" id="furnitureScratching" value="FurnitureScratching"><br>
<button type="submit">Submit Review</button>
<a href="/">I'm too good for reviews.</a>
</form>













<a href="/">Home</a>