<link rel="stylesheet" href="/master-styles.css">
<h1>Thanks for the review! (Maybe).</h1>

{{#if Review}}
    <h3>Your name: {{Review.name}}</h3>
    <p>Your comments: {{Review.comments}}</p>
    <p>Your rating: {{Review.rating}}</p>

{{/if}}
<a href="/">Home</a>