<link rel="stylesheet" href="/styles.css">

{{#if pizza}}
<h1>Special Pizzas for Special Cats</h1>
<h2>{{pizza.name}}</h2>
{{#each pizza.toppings}}
<p>{{this.name}}</p>
{{/each}}
<p class="price">${{pizza.price}}</p>
{{/if}}



<a href="/">Home</a>