{{!-- heading fonts here --}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
{{!-- normal text font below --}}
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Otomanopee+One&display=swap" rel="stylesheet">
{{!-- CSS stylesheets --}}
<link rel="stylesheet" href="/master-styles.css">
<link rel="stylesheet" href="/specialty-styles.css">


{{#if pizza}}
<h1>Special Pizzas for Special Cats</h1>
<h2>{{pizza.name}}</h2>
{{#each pizza.toppings}}
<span>-{{this}}</span>
{{/each}}
<h4 class="price">${{pizza.price}}</h4>
{{/if}}



<a href="/"><div class="specialty-card">Home</div></a>

<img class="cat"src="/cat-cape.png">
<img class="pizza" src="/pizza-slice.png">


<footer>Made with indifference. For cats, by cats.</footer>