h1 {
    font-size: 2.5rem;
    margin-top: 20px;
}

h4 {
    font-size: 1.25rem;
}

.cat {
    height: 400px;
    width: auto;
    position: absolute;
    bottom: 375px;
    left: 250px;
}

.pizza {
    position: absolute;
    bottom: -50px;
    left: 150px;
    height: 450px;
    transform: rotate(.10turn);
}